<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.ippontadareia.cancioneiroippa">

    <!-- @string/app_name -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/home"
        android:label="Cancioneiro IPPA"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SummaryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".LyricsActivity" />
        <activity
            android:name=".SearchPopUpActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>